


.cats-module {
  background-color: #9ea0a1;
  border-radius: 5px;
  min-height: 100px;
  max-width: 1140px;
  padding-block: 10px;
  .cats-module-section {
    color: white;
    .text {
      font-size: 32px;
      text-align: center;
      background-color: #3a3a3a;
      border-radius: 10px;
      margin-bottom: 25px;
    }
    .borg-first-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .message {
        width: 100%;
        text-align: center;
        .invalid_message, .valid_message {
          background-color: red;
          padding: 10px;
          border-radius: 50px;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: 800;
        }
        .valid_message {
          background-color: green;
          text-transform: inherit;
        }
      }
      .form-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .form-item-email {
        .input-group-addon {
          display: none;
        }
        .form-email {
          border-radius: 4px;
        }
      }
      .error_message {
        position: relative;
        width: 10%;
        height: 0;
        .invalid_form_message {
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          text-align: center;
          padding: 5px;
          background-color: #3a3a3a;
          border-radius: 4px;
        }
      }
      .control-label {
        font-size: 20px;
        &:after {
          background-size: 7px 7px;
          background-repeat: no-repeat;
          margin-left: 3px;
        }
      }
      .button {
        outline: 0;
        border: none;
        padding: 10px 45px;
        font-size: 18px;
      }
      .alert-danger {
        span {
          display: none;
        }
      }
      .form-managed-file {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-file {
          outline: 0;
          max-width: 300px;
          margin-inline: auto;
        }
        .messages--error {
          background-color: #f2dede;
          color: #a94442;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
    .cats_database {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      .cats_element {
        margin-bottom: 50px;
        margin-inline: auto;
        .image {
          height: 350px;
          display: flex;
          justify-content: center;
          align-items: center;
          .img-responsive {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .cats_info {
          text-align: center;
          margin-top: 10px;
          .cat_name {
            font-size: 20px;
            text-transform: uppercase;
          }
          .email {
            font-size: 18px;
            color: #0a65aa;
          }
          .time {
            font-size: 14px;
            color: #000000;
          }
          .button {
            margin: 0 10px;
            font-size: 16px;
            text-transform: uppercase;
            padding: 8px 15px;
            outline: none;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.ui-dialog {
  .ui-dialog-titlebar {
    display: flex;
    align-items: center;
  }
  .ui-dialog-titlebar-close {
    position: relative;
    margin: 0;
    right: -10px;
    &:after {
      content: 'x';
      position: absolute;
      top: -2px;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 18px;
      line-height: 1;
    }
  }
  .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .button {
      outline: none;
      border: 1px solid transparent;
      padding: 6px 12px;
      border-radius: 4px;
    }
  }
}
