.navbar-header {
  width: 100%;
}
.navbar-header .region-navigation {
  display: flex;
  justify-content: space-between;
}

.cats-module {
  background-color: #9ea0a1;
  border-radius: 5px;
  min-height: 100px;
  max-width: 1140px;
  padding-block: 10px;
}
.cats-module .cats-module-section {
  color: white;
}
.cats-module .cats-module-section .text {
  font-size: 32px;
  text-align: center;
  background-color: #3a3a3a;
  border-radius: 10px;
  margin-bottom: 25px;
}
.cats-module .cats-module-section .borg-first-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cats-module .cats-module-section .borg-first-form .message {
  width: 100%;
  text-align: center;
}
.cats-module .cats-module-section .borg-first-form .message .invalid_message, .cats-module .cats-module-section .borg-first-form .message .valid_message {
  background-color: red;
  padding: 10px;
  border-radius: 50px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
}
.cats-module .cats-module-section .borg-first-form .message .valid_message {
  background-color: green;
  text-transform: inherit;
}
.cats-module .cats-module-section .borg-first-form .form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cats-module .cats-module-section .borg-first-form .form-item-email .input-group-addon {
  display: none;
}
.cats-module .cats-module-section .borg-first-form .form-item-email .form-email {
  border-radius: 4px;
}
.cats-module .cats-module-section .borg-first-form .error_message {
  position: relative;
  width: 10%;
  height: 0;
}
.cats-module .cats-module-section .borg-first-form .error_message .invalid_form_message {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
  background-color: #3a3a3a;
  border-radius: 4px;
}
.cats-module .cats-module-section .borg-first-form .control-label {
  font-size: 20px;
}
.cats-module .cats-module-section .borg-first-form .control-label:after {
  background-size: 7px 7px;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.cats-module .cats-module-section .borg-first-form .button {
  outline: 0;
  border: none;
  padding: 10px 45px;
  font-size: 18px;
}
.cats-module .cats-module-section .borg-first-form .alert-danger span {
  display: none;
}
.cats-module .cats-module-section .borg-first-form .form-managed-file {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cats-module .cats-module-section .borg-first-form .form-managed-file .form-file {
  outline: 0;
  max-width: 300px;
  margin-inline: auto;
}
.cats-module .cats-module-section .borg-first-form .form-managed-file .messages--error {
  background-color: #f2dede;
  color: #a94442;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.cats-module .cats-module-section .cats_database {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.cats-module .cats-module-section .cats_database .cats_element {
  margin-bottom: 50px;
  margin-inline: auto;
}
.cats-module .cats-module-section .cats_database .cats_element .image {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cats-module .cats-module-section .cats_database .cats_element .image .img-responsive {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cats-module .cats-module-section .cats_database .cats_element .cats_info {
  text-align: center;
  margin-top: 10px;
}
.cats-module .cats-module-section .cats_database .cats_element .cats_info .cat_name {
  font-size: 20px;
  text-transform: uppercase;
}
.cats-module .cats-module-section .cats_database .cats_element .cats_info .email {
  font-size: 18px;
  color: #0a65aa;
}
.cats-module .cats-module-section .cats_database .cats_element .cats_info .time {
  font-size: 14px;
  color: #000000;
}
.cats-module .cats-module-section .cats_database .cats_element .cats_info .button {
  margin: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 15px;
  outline: none;
}
/*# sourceMappingURL=style.css.map */
